*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
    background-color: ivory;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-image: url(/imagen/fondo_login.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.csocios{
    width: 100%;
    padding: 19px;
    margin-top: -5%;
}
.formulario{
    background-color:ivory;
    margin-top: 190px;
    padding: 30px;
  }
input[type="text"],textarea,
input[type="date"],input[type="number"],select,table,thead,tbody,tr{
  font-size: 15px;
  width:30%;
  padding: 13px;
  border: ridge;
  color: rgb(19, 17, 17);
  margin-left:15px;  
}

table,thead,tbody,tr{
  font-size: 12px;
  width:98%;
  padding: 13px;
  border: ridge;
  color: rgb(19, 17, 17);
  margin-left:15px;  
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaaaaa;
  }
  .button{
    border: none;
    width: 50%;
    color: white;
    margin: 5px;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer; 
    margin-left: 25%; 
  }  
  .button:hover{
    background: cadetblue;
  }
  @media(min-width:768px){

    .formulario{
      margin: auto;
      width: 1000px;
      margin-top: 70px;
      border-radius: 2%;
    }
}
label{
    min-width: 50px;
    text-align: center;
    color: black;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;

}
.boton{
  border: none;
  width: 10%;
  color: white;
  margin: 5px;
  font-size: 20px;
  background: #1a2537;
  padding: 15px 10px;
  border-radius: 5px;
  cursor: pointer; 
  margin-left: 1%; 
}
.boton:hover{
  background: cadetblue;
}